<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-flex">
            <img src="/assets/Datathon-banner.png">
            <div class="footer-contact">
                <div class="footer-contact-logo">
                    <img src="/assets/logo-icon.png">
                    <h3>Dataseeds</h3>
                </div>
                <img src="/assets/icons/DrawKit-Ecology/Flat/Brand new world.svg"
                    style="position: absolute; width: 9rem; margin: -1rem 5rem; bottom: 0; filter: saturate(0.8);">
                <div>
                    <ul class="footer-contact-list">
                        <li>
                            <a href="mailto:dataseeds@yahoo.com/">
                                <span>dataseeds@yahoo.com</span>
                                <span class="far fa-envelope"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/dataseeds/">
                                <span>@Dataseeds</span>
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/dataseeds/">
                                <span>@Dataseeds</span>
                                <span class="fab fa-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/dataseeds-eu/">
                                <span>Dataseeds-EU</span>
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="social-links">
                    <button class="accent_button" href="mailto:dataseeds@yahoo.com">
                        <span class="far fa-envelope"></span>
                        <span class="far">Send us en email</span>
                    </button>
                    <button class="accent_button" href="https://forms.gle/LqeshwGQ1TcNK6BY8">
                        <div stlye="display: flex">
                            <span class="fas fa-envelope-open-text"></span>
                            <span class="far">Fill our form</span>
                        </div>
                    </button>
                </div> -->

            </div>
        </div>
        <div class="footer-notes">
            <a href="/privacy">Privacy policy</a>
            <span id="copyyear">2020</span>
            <script>
                document.getElementById("copyyear").innerHTML = "&#169;" + new Date().getFullYear();
            </script> All rights reserved
            <div style='display: block; width: 250px; margin-left: auto; margin-right: auto;'>
                <a href='https://ind.ie/ethical-design'>
                    <img style='margin-left: auto; margin-right: auto; margin-bottom: 0;' alt=''
                        src='https://ind.ie/ethical-design/images/ethical-design-badge-tiny.svg'></a>
                <p>We practice <strong>Ethical</strong> Design.</p>
            </div>
        </div>

    </div>

</footer>

<script>
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    darkModeMediaQuery.addListener((e) => {
        const darkModeOn = e.matches;
        // this functions are to be created on each HTML that needs to make changes that CSS can't
        // darkModeOn ? darkTheme() : lightTheme();
    });
    // darkModeMediaQuery.matches ? darkTheme() : lightTheme();
</script>