<header class="site-header">
    <div class="site-nav-div">
        <nav class="site-nav">
            <div style="display: inline-flex; place-items: center;">
                <img class="logo" src="/assets/logo-icon.png">
                <a class="logo-text" href="/">Dataseeds</a>
            </div>
            <input type="checkbox" id="nav" /><label for="nav"></label>

            <ul>
                {% for page in site.pages %} {% if page.title and page.visible %}
                <li>
                    <a href="{{ page.url | prepend: site.baseurl }}">
                        {{ page.title }}</a></li> {% endif %} {% endfor %}
            </ul>

        </nav>
    </div>
</header>