<header class="site-header">
    <div class="site-nav-div">
        <nav class="site-nav">
            <div style="display: inline-flex; place-items: center;">
                <img class="logo" src="/assets/logo-icon.png">
                <a class="logo-text" href="/">Dataseeds</a>
            </div>
            <input type="checkbox" id="nav" /><label for="nav"></label>

            <ul>
                <li>
                    <a href="/citizens">EU Citizens' opinion</a>
                </li>
                <li>
                    <a href="/actions">EU lex actions</a>
                </li>
                <li>
                    <a href="/finance_innovation">Finance and Innovation</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>

        </nav>
    </div>
</header>