/***** Site header ***********************************************************/

.site-header {
    height: 100px;
    width: 100%;
    z-index: 50;
}

.page-content {
    padding: 10px 0;
    min-height: 50vh;
}


/* ####################################
			Home
#################################### */

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0.1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.home {
    animation: popIn 1.3s ease-in-out;
    display: grid;
    text-align: center;
    margin: 0 auto;
    max-width: 50rem;
    vertical-align: middle;
    position: relative;
    img {
        text-align: center;
        vertical-align: middle;
    }
    h3 {
        color: $main-dark-blue;
        font-size: min(2rem, 5vw);
        font-weight: 100;
        line-height: 1em;
        margin: auto;
        text-align: center;
        word-break: inherit;
    }
    // if you hver with the mouse (or you're on phone, enable the shadows
    a:hover {
        h3 {
            text-shadow: 0px 0px 20px rgba($main-dark-blue, 0.7);
        }
        img {
            -webkit-filter: drop-shadow(0px 0px 20px rgba($main-dark-blue, 0.7));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color=rgba($main-dark-blue, 0.7))";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color=rgba($main-dark-blue, 0.7))";
        }
    }
    @media (max-width: $on-laptop),
    (hover: none) {
        h3 {
            text-shadow: 0px 0px 20px rgba($main-dark-blue, 0.7);
        }
        img {
            -webkit-filter: drop-shadow(0px 0px 20px rgba($main-dark-blue, 0.7));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color=rgba($main-dark-blue, 0.7))";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color=rgba($main-dark-blue, 0.7))";
        }
    }
    // if the primary input of the device can hover
    @media (hover: hover) and (min-width: $on-laptop) {
        h3 {
            display: none;
        }
        a:hover h3 {
            display: inherit;
        }
    }
}

.home-recycle-huge {
    margin: 1vw auto 0 auto;
    width: min(50vw, 50vh);
    -webkit-filter: drop-shadow(0px 0px 20px rgba(68, 92, 94, 0.7));
    @media screen and (max-width: $on-laptop) {
        max-width: 65vw;
        max-height: 70vh;
        margin-bottom: 2em;
        width: auto;
    }
}

.home-svg {
    margin: auto 0;
    width: min(9vw, 7vh);
}

.home-top {
    display: inline-flex;
    min-height: 5em;
    margin: 0 auto;
}

.home-top div {
    margin: auto;
    min-width: 15px;
}

.home-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
    &:hover {
        top: 43%;
    }
    @media (hover: none) {
        top: 47%;
    }
    @media screen and (max-width: $on-laptop) {
        top: 44%;
    }
}

.home-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.home-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.home-left,
.home-right {
    display: inline;
    margin-bottom: 2em;
    div {
        margin: auto;
    }
    &:hover {
        margin-bottom: 0;
    }
    @media screen and (max-width: $on-laptop) {
        margin-bottom: 0;
    }
}


/* ####################################
			Subpage
#################################### */

.centered-title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 2em;
    text-align: center;
    width: max-content;
    max-width: 700px;
    h1 {
        color: $main-dark-blue;
        font-size: min(7.5vw, 2.4rem);
        line-height: normal;
        margin: auto 0;
        padding: 0 0.8rem;
        text-transform: uppercase;
        transform: scale(.95, 1.05);
        width: auto;
        max-width: 65vw;
    }
    img {
        margin: auto -10px;
        vertical-align: bottom;
        width: min(10vw, 3.2rem);
    }
}

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    h2 {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1em;
    }
    img {
        display: flex;
        margin: auto;
    }
}

.row {
    background: #00C68015;
    border-radius: 8px;
    box-shadow: 2px 2px 15px #00A66060;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 50px;
    @media screen and (max-width: $on-laptop) {
        flex-direction: column;
        max-width: 85vw;
    }
}

.card-img {
    padding: 2rem 0 1rem;
    width: min(19vw, 6rem);
    @media screen and (min-width: $on-laptop) {
        width: 6rem;
        padding: 1rem;
    }
}

.card-descr {
    margin: auto 0;
    padding: 3em;
    padding-left: 0;
    @media screen and (max-width: $on-laptop) {
        padding: 2em;
        padding-top: 0;
    }
}

.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}


/* ####################################
			Subpage Data
#################################### */

.data-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 57rem;
    p,
    i {
        font-size: 1.1em;
        line-height: 1.25em;
        margin: 0;
        margin-block-end: 1em;
        text-align: justify;
        width: fit-content;
    }
    @media screen and (max-width: $on-laptop) {
        max-width: 90vw;
    }
}

.plotly-graph-div {
    margin: 0 auto;
}


/* ####################################
			About page 
#################################### */

.about {
    padding-block-end: 1em;
}

.about p {
    float: left;
    padding: 0;
    @media (max-width: $on-laptop) {
        font-stretch: condensed;
    }
}

.highlighted {
    background-image: linear-gradient(to top, rgba(76, 191, 10, 0.35) 40%, transparent 40%);
}

.underlined {
    color: #6abe72 !important;
    text-decoration: underline;
    text-shadow: none;
    font-weight: 600;
}

.about-header {
    clear: left;
    display: flex;
    float: left;
    flex-direction: row;
    overflow: hidden;
    padding-block-end: 1em;
    width: 100%;
    @media (max-width: $on-laptop) {
        flex-direction: column;
    }
}

.about-header-paragraph {
    flex-basis: 60%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding-right: 3%;
    width: 55vw;
    @media (max-width: $on-laptop) {
        padding-right: 0;
        width: auto;
    }
}

.about-header-media {
    margin: auto;
    height: 100%;
    overflow: hidden;
    video {
        width: 28vw;
        max-width: 370px;
        @media (max-width: $on-laptop) {
            width: min(350px, 85vw);
        }
    }
}

.team-descr {
    display: inline-block;
    height: auto;
}

.about-flex-container {
    align-items: center;
    column-gap: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-block-end: 1em;
    padding: 0;
    h2 {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1em;
    }
    img {
        display: flex;
        margin: auto;
    }
}

.about-row {
    background: white;
    box-shadow: 0px 4px 10px #999999;
    display: grid;
    row-gap: 0.5vh;
    margin: auto;
    margin-bottom: 4vh;
    padding: 1vh;
    transition: all .2s ease-in-out;
    div {
        margin: auto;
    }
    h2 {
        font-weight: 100;
        font-family: Brush Script MT;
        font-size: 2em;
    }
    img {
        height: 260px;
        width: 260px;
        @media screen and (max-width: $on-laptop) {
            width: 62vw;
            height: 62vw;
        }
    }
}

.flip-card {
    display: grid;
    row-gap: 0.5vh;
    margin: 4vh auto;
    min-width: 30%;
    perspective: 1000px;
    h2 {
        font-weight: 100;
        font-family: Brush Script MT;
        font-size: 2em;
        margin: auto;
    }
}

.flip-card-inner {
    position: relative;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    height: 260px;
    width: 260px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    background: white;
    box-shadow: 0px 4px 10px #999999;
    display: grid;
    row-gap: 5px;
    padding: 15px;
    position: absolute;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    color: black;
    img {
        width: 100%;
        margin: 0;
    }
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    p {
        color: black;
        font-size: 1.1em;
        line-height: 1.3em;
        padding: 0 10px;
        text-align: justify;
        word-break: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        margin: auto;
    }
}

.about-sources {
    margin-top: 3rem;
}

.about-sources h2 {
    font-size: 2.5rem;
    padding-block-end: 0.5rem;
}


/* ####################################
			Legislation page 
#################################### */

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    padding: 5px;
}

#search-list {
    width: 100%;
}

#search-list .list {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 20px;
}

#search-list .list li {
    background-color: #e0e0e0;
    background-color: #12d57550;
    box-shadow: 0px 4px 10px #99999988;
    border-radius: 7px;
    display: block;
    flex-basis: 270px;
    flex-grow: 1;
    height: 120px;
    margin: 10px;
    min-width: 150px;
    position: relative;
    &:hover {
        box-shadow: 0px 8px 20px #99999988;
    }
}

.searchbox {
    text-align: center;
    * {
        border-radius: 5px;
        box-shadow: 0px 4px 10px #99999988;
        font-size: 1em;
        padding: 5px 10px;
    }
}

.link {
    display: block;
    height: -webkit-fill-available;
    padding: 10px;
    text-shadow: none;
    &:hover {
        text-shadow: none;
    }
}

.link h3 {
    display: -webkit-box;
    font-size: 1.6em;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.link p {
    bottom: 0;
    display: -webkit-box;
    font-size: 1em;
    margin-bottom: 10px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* ####################################
			404 page 
#################################### */

.img-fill img {
    width: 100%;
}