<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-grid">
            <img src="https://lh3.googleusercontent.com/XvXyG1idhaorfTQArCA9xWxw-Nv3kXj1S5iaQmaHGgbR_8k-SrIDMt5rBDoGXoa_fYTGaA">
            <div class="footer-contact">
                <h1>CONTACT US</h1>
                <div class="social-links">
                    <a href="https://twitter.com/dataseeds">
                        <span class="fab fa-twitter"> Twitter </span>
                    </a>
                    <a href="https://instagram.com/dataseeds">
                        <span class="fab fa-instagram"> Instagram </span>
                    </a>
                    <a href="mailto:ismael.em@gmail.com">
                        <span class="far fa-envelope"> Email </span>
                    </a>
                    <a href="https://www.linkedin.com/company/dataseeds-eu/">
                        <span class="fab fa-linkedin-in"> Linkedin </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-notes">
            <div style="font-size: 12px">
                <a href="(/privacy)">Privacy policy</a>
                <span id="copyyear">2020</span>
                <script>
                    document.getElementById("copyyear").innerHTML = "@" + new Date().getFullYear();
                </script> All rights reserved
            </div>
        </div>

    </div>

</footer>

<script>
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    darkModeMediaQuery.addListener((e) => {
        const darkModeOn = e.matches;
        // this functions are to be created on each HTML that needs to make changes that CSS can't
        darkModeOn ? darkTheme() : lightTheme();
    });
    darkModeMediaQuery.matches ? darkTheme() : lightTheme();
</script>