/* Light/Dark themes *************************/

$dark-theme-bg: #202020;
$dark-theme-bg-semi: darken($dark-theme-bg, 5%);
$dark-theme-fg: #f0f0f0;
$light-theme-bg: #f0f0f0;
$light-theme-bg-semi: lighten($light-theme-bg, 5%);
$light-theme-fg: #333333;

/***** Reset some basic elements ***********************************************************/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
a {
    margin: 0;
    padding: 0;
    color: $light-theme-fg;
}

a {
    word-wrap: break-word;
}

p {
    font-size: 1.2em;
    font-stretch: condensed;
    line-height: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
}

table {
    font-size: 14px;
}

@font-face {
    font-family: "Gill Sans MT Condesed";
    src: url("/assets/fonts/GillSans-Condensed.ttf");
}

@font-face {
    font-family: "Brush Script MT";
    src: url("/assets/fonts/BrushScript.ttf");
}


/** Variables **********************************************/

$base-font-family: Open Sans,
Helvetica,
sans-serif;
$base-line-height: 1.5em;
$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 40px;
$nav-height: 75px;

/* COLORS  */

$main-dark-blue: #445c5e;
$red: #FF3636;
$orange: #F29105;
$blue: #2698BA;
$lime_green: #B7D12A;
$purple: #B509AC;
$black: #222222;
$grey-color-light: #ddd;

/* navigation bar border */

$max-wrapper-width: 1200px;

/*************** Basic styling
***********************************************************/

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $light-theme-fg;
    background-color: $light-theme-bg;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    --duration: 0.5s;
    --timing: ease;
    color: var(--color);
    background-color: var(--background-color);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
}

// No horizontal scrolling
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// Hide scrollbar on Chrome, Safari, Opera
body ::-webkit-scrollbar {
    width: 0 !important
}


/* ####################################
			Dark/Light themes
#################################### */

// @media (prefers-color-scheme: dark) {
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     body,
//     a,
//     p,
//     code,
//     ul {
//         color: $dark-theme-fg;
//     }
//     body {
//         background-color: $dark-theme-bg;
//         pre,
//         code {
//             background-color: $dark-theme-bg-semi;
//         }
//     }
// }
@media (prefers-color-scheme: light) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    body,
    a,
    p,
    code,
    ul {
        color: $light-theme-fg;
    }
    body {
        background-color: $light-theme-bg;
        pre,
        code {
            background-color: $light-theme-bg-semi;
        }
    }
}

hr {
    border: 0;
    //height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* ####################################
			Headings and Headers
#################################### */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gill Sans MT Condesed;
    font-weight: 100;
}

header {
    height: 200px;
    padding-top: 20px;
}

// when hovering (or on the phone) apply blur
a:hover {
    text-shadow: 0px 0px 20px $main-dark-blue;
    img {
        -webkit-filter: drop-shadow(0px 0px 20px $main-dark-blue);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='$main-dark-blue')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='$main-dark-blue')";
    }
}

@media screen and (max-width: $on-laptop) {
    a img {
        -webkit-filter: drop-shadow(0px 0px 20px $main-dark-blue);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='$main-dark-blue')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='$main-dark-blue')";
    }
}

.site-nav {
    max-width: $max-wrapper-width;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
    a {
        color: $main-dark-blue;
        margin-top: 20px;
    }
}

.site-nav-right {
    float: right;
    display: inline-flex;
    a {
        font-family: Gill Sans MT Condesed;
        font-size: 24px;
        text-align: center;
        line-height: 40px;
        &:not(:first-child) {
            margin-left: 5vw;
        }
    }
    ul {
        list-style: none;
        display: inline-flex;
    }
}

.logo {
    height: 65px;
    width: 65px;
}

.logo-text {
    color: #777;
    font-weight: 800;
    font-size: min(3.3em, 12vw);
    font-family: Brush Script MT;
    line-height: 40px;
    margin-left: 10px;
    &:hover {
        text-shadow: none;
    }
}

h1 {
    text-align: center;
    width: 100%;
    margin-top: 120px;
    font-weight: 800;
    font-size: 40px;
}

[type="checkbox"],
label {
    display: none;
}

@media screen and (max-width: $on-laptop) {
    .site-nav-right {
        display: none !important;
    }
    label {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-top: 22px;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    label:after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: $main-dark-blue;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px $main-dark-blue, 0px 20px 0px $main-dark-blue
    }
    [type="checkbox"]:checked~ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 20px;
        left: 20px;
    }
    nav a {
        color: #777;
    }
    h1 {
        font-size: 26px;
    }
}


/* ####################################
			Site footer
#################################### */

.site-footer {
    background: #eaeaea;
    margin-top: 5vw;
    padding: 2vw 0 5vw;
    text-align: center;
    width: 100%;
    a {
        text-decoration: underline;
        &:hover {
            text-shadow: none;
        }
    }
}

.site-footer p {
    margin-bottom: 0;
}

.footer-grid {
    display: flex;
    grid-column-gap: 10px;
    grid-column-gap: 10px;
    img {
        max-width: 420px;
        max-height: 220px;
    }
    @media screen and (max-width: $on-laptop) {
        flex-direction: column;
    }
}

.footer-contact {
    background: white;
    margin-left: 10px;
    width: 100%;
    h1 {
        font-weight: 100;
        font-size: 2.5em;
        text-align: left;
        margin: 15px 10px;
    }
    @media screen and (max-width: $on-laptop) {
        margin-left: 0;
        margin-top: 10px;
    }
}

.social-links {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    align-items: start;
    margin: 0 10px;
    a {
        color: #333;
        font-size: 18px;
        text-decoration: none;
        margin: 10px 10px;
    }
}

.social-links button {
    background: #12D575;
    border: none;
    margin: 2px 0;
    padding: 8px 10px;
    div {
        display: flex;
    }
    i {
        margin: auto 2px;
    }
    span {
        margin-right: 5px;
    }
}

.footer-notes {
    font-size: 12px;
    margin-top: 15px;
    span {
        margin-left: 15px;
    }
}

.contact-us {
    display: flex;
    a {
        font-size: 24px;
        margin: auto 5px;
    }
    h1 {
        width: auto;
    }
}


/* ####################################
			Links
#################################### */

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

article a {
    color: $main-dark-blue !important;
    font-weight: 400;
    text-decoration: $main-dark-blue;
    text-shadow: 0px 0px 20px $main-dark-blue;
    &:hover {
        text-shadow: 0px 0px 20px darken($main-dark-blue, 20%);
    }
}


/* ####################################
			Blockquotes
#################################### */

blockquote {
    color: $light-theme-fg;
    border-left: 10px solid lighten($light-theme-bg, 5%);
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;
    > :last-child {
        margin-bottom: 0;
    }
}


/* ####################################
			Wrapper
#################################### */

.wrapper {
    max-width: $max-wrapper-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 7%;
    @extend %clearfix;
    @media screen and (max-width: $on-laptop) {
        padding: 0 3%;
    }
}


/* ####################################
			Clearfix
#################################### */

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}